<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Livro da Comunidade Git</title>
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="assets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="assets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen, projection">
    <script type="text/javascript" src="assets/javascripts/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/jquery.corner.js"></script>
</head>

<body>
<div class="container showgrids">

  <div class="span-21 header">
    <a href="/"><img alt="Livro da Comunidade Git" src="assets/images/header-book.gif"></a>
  </div>

  <div class="span-21 navbar">
    <div id="toc">
      <ul class="a-documentation">
        <li id="m-index"><a href="http://git-scm.com/">Home</a></li>
        <li id="m-about"><a href="http://git-scm.com/about">Sobre Git</a></li>
        <li id="m-documentation"><a href="http://git-scm.com/documentation">Documentação</a></li>
        <li id="m-download"><a href="http://git-scm.com/download">Download</a></li>
        <li id="m-tools"><a href="http://git-scm.com/tools">Ferramentas</a></li>
        <li id="m-wiki"><a href="http://git.or.cz/gitwiki">Wiki</a></li>
      </ul>
    </div>
  </div>

  <div class="span-21">
    <br/>
  </div>

  <div class="span-10">
    <div id="book-intro">
      <h3>O Livro da Comunidade Git</h3>
      <p>
        Bem vindo ao Livro da Comunidade Git.
        Esse livro tem sido construido por dúzias de pessoas dentro da comunidade Git,
        e é principalmente para ajudar a você a aprender como usar o Git tão rapidamente e facilmente quanto possível.
      </p>
      <p>
        Se você achou alguma coisa desatualizada, dê uma sugestão sobre como melhorá-lo, ou
        se gostaria de ajudar com o livro,
        por favor veja a página <a href="http://github.com/schacon/gitbook/wikis/how-to-contribute">Como contribuir</a>, ou envie uma nota para
        <a href="mailto:schacon@gmail.com">nosso mantenedor</a>.
    </div>
  </div>


  <div class="span-5">
      <div id="download">
            <h3>Download</h3>
            <div class="inner">
                Clique <a href="http://djalma.blog.br/gitbook/book.pdf">aqui</a> para realizar o download da versão mais recente em PDF desse livro.
            </div>
    </div>
  </div>

  <div class="span-6 last">
    <div id="new-to-git">
      <h3>Novo no Git?</h3>
      <div class="inner">
        <p>Se você quer realmente entender o Git,
          você pode querer iniciar <a href='1_bem_vindo_ao_git.html'> por aqui</a>.</p>
        <p>
          Se você quiser pular, você pode ir direto para <a href='2_configura%C3%A7%C3%A3o_e_inicializa%C3%A7%C3%A3o.html'>Configuração e Inicialização </a>.
        </p>
      </div>
    </div>
  </div>

  <div class="span-21">
    #body
  </div>

  <div class="span-17 footer">
    <div class="menu">
        Esse livro é mantido por Scott Chacon, e a hospedagem é doada pelo GitHub.
        <br>
        Por favor envie me um email <a href="mailto:schacon@gmail.com">schacon@gmail.com</a>
        com patches, sugestões e comentários.
      </div>
  </div>
  <div class="span-4 last center">
    <a href="http://github.com"><img src="assets/images/github.png" alt="github logo"></a>
  </div>

</div>

<script type="text/javascript">
  $(function() {
    $('#book-intro').corner();
    $('#new-to-git').corner();
    $('#download').corner();
    $('.footer').corner();
  });
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-82337-12");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
